.error-display{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 10px;
}

.links-div{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.links-div > a{
    text-decoration: none;
}
 
.card {
flex-direction: column;
min-width: 0;
color: #000;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid #fff;
border-radius: 6px;
-webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
-moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.learn-more {
text-decoration: none;
color: #000;
margin-top: 8px;
}

.learn-more:hover {
text-decoration: none;
color: blue;
margin-top: 8px;
}

.back-btn-div{
    display: flex;
    justify-content: end;
    width: 100%;
}

.back-btn-div > a{
    width: 100px; 
    margin-top: 20px; 
    text-decoration: none;
    text-align: center;
    border: solid 1px #57b846;
    background-color: #57b846;
    color: white;
    margin-right: 42px;
}

.offer-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
}

.offer-img{
    width: 300px;
    height: 100%;
}

.offer-details{
    padding: 10px;
}

.offer-url{
    margin-top: 10px;
    font-size: 16px;
}