{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
                <span class="login100-form-title-1">
                    Privacy and Policy
                </span>
            </div>
            <div class="login100-form validate-form" style="padding: 43px 42px 93px 42px">
                {{privacy_policy.terms_and_privacy | safe}}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}