{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block head %}
<script type="text/javascript">
        (function () {
                var tf = document.createElement('script');
                tf.type = 'text/javascript'; tf.async = true;
                tf.src = ("https:" == document.location.protocol ? 'https' : 'http') + "://api.trustedform.com/trustedform.js?field=xxTrustedFormCertUrl&ping_field=xxTrustedFormPingUrl&sandbox=true&l=" + new Date().getTime() + Math.random();
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s);
        })();
</script>
<noscript>
        <img src="https://api.trustedform.com/ns.gif" />
</noscript>
{% endblock %}



{% block content %}

<div class="limiter">
        <div class="container-login100">
                <div class="wrap-login100">
                        <div class="login100-form-title"
                                style="background-image: url('{% static 'images/bg-01.jpg' %}');">
                                <span class="login100-form-title-1">
                                        Information
                                </span>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="max-width: 600px;">
                                        <div class="modal-content">
                                                <div class="modal-body" style="padding: 0px;">
                                                        <div class="row">
                                                                <div
                                                                        class="d-flex flex-row justify-content-between align-items-center card cookie p-3">
                                                                        <div class="d-flex flex-row align-items-center">
                                                                                <img src="https://i.imgur.com/Tl8ZBUe.png"
                                                                                        width="40">
                                                                                <div class="ml-2 mr-2"><span>We
                                                                                                use
                                                                                                third party
                                                                                                cookies
                                                                                                to personalize
                                                                                                content,
                                                                                                ads and&nbsp;
                                                                                                analyze site
                                                                                                traffic.<br></span>
                                                                                </div>
                                                                        </div>
                                                                        <div><button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Accept</button>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                        </div>

                        <form method='post' class="login100-form validate-form" autocomplete="off">
                                {% csrf_token %}
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">First Name</span>
                                        <input class="input100" type="text" name="first_name"
                                                placeholder="Enter your First name" value="{{user.first_name}}"
                                                required>
                                        <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Last Name</span>
                                        <input class="input100" type="text" class="form-control form-control-lg"
                                                name="last_name" placeholder="Enter your First name"
                                                value="{{user.last_name}}" required>
                                        <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Phone Number</span>
                                        <input class="input100" type="text" name="phone_number"
                                                placeholder="Enter your First name" value="{{user.phone_number}}"
                                                required>
                                        <span class="focus-input100"></span>
                                </div>

                                {% if user.total_debt_amount == "" %}
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required"
                                        style="border: none;">
                                        <span class="label-input100">Total Debt</span>
                                        <select name="total_debt_amount" style="margin-top: 13px;" required>
                                                <option value="Less than $9,000">Less than $9,000</option>
                                                <option value="Greater than $10,000">Greater than $10,000</option>
                                                <option value="Greater than $15,000">Greater than $15,000</option>
                                        </select>
                                </div>
                                {% else %}
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Total Debt</span>
                                        <input class="input100" type="text" name="total_debt_amount"
                                                placeholder="Enter your First name" value="{{user.total_debt_amount}}"
                                                required>
                                        <span class="focus-input100"></span>
                                </div>
                                {% endif %}

                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Zip Code</span>
                                        <input class="input100" type="text" name="zip_code"
                                                placeholder="Enter your First name" value="{{user.zip_code}}" required>
                                        <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">State</span>
                                        <input class="input100" type="text" name="state"
                                                placeholder="Enter your First name" value="{{user.state}}" required>
                                        <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Age</span>
                                        <input class="input100" type="text" name="age" value="{{user.age}}"
                                                placeholder="Enter your age" required>
                                        <span class="focus-input100"></span>
                                </div>

                                <input type="hidden" name="xxTrustedFormCertUrl" id="xxTrustedFormCertUrl_0" value="">
                                <input type="hidden" name="xxTrustedFormPingUrl" id="xxTrustedFormPingUrl_0" value="">

                                <div class="container-login100-form-btn">
                                        <button class="login100-form-btn" type="submit" style="width: 100%;">
                                                Confirm Info
                                        </button>
                                </div>

                                <div class="links-div">
                                        <a href="{% url 'terms_and_conditions' %}">Terms and conditions</a>
                                        <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                                </div>
                        </form>
                </div>
        </div>
</div>
{% endblock %}

{% block js %}

<script src="{% static 'js/submit.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
        $(document).ready(function () {
                $("#exampleModalCenter").modal('show');
        });

        $('#exampleModalCenter').modal({
                backdrop: 'static',
                keyboard: false
        })
</script>

{% endblock %}