{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block head %}

{% endblock %}



{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
                <span class="login100-form-title-1">
                    Information
                </span>
            </div>

            <div class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">First Name</span>
                    <p class="input100" style="margin-top: 13px;">{{user.first_name}}</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Last Name</span>
                    <p class="input100" style="margin-top: 13px;">{{user.last_name}}</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Phone Number</span>
                    <p class="input100" style="margin-top: 13px;">{{user.phone_number}}</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Total Debt</span>
                    <p class="input100" style="margin-top: 13px;">{{user.total_debt_amount}}</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Zip Code</span>
                    <p class="input100" style="margin-top: 13px;">{{user.zip_code}}</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">State</span>
                    <p class="input100" style="margin-top: 13px;">{{user.state}}</p>
                </div>

                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Age</span>
                    <p class="input100" style="margin-top: 13px;">{{user.age}}</p>
                </div>

                <div class="container-login100-form-btn">
                    <a href="{% url 'change_password' %}" class="login100-form-btn"
                        style="width: 100%; margin-top: 20px; text-decoration: none;">
                        Change Password
                    </a>
                </div>
                <div class="container-login100-form-btn">
                    <a href="{% url 'logout' %}" class="login100-form-btn"
                        style="width: 100%; margin-top: 20px; text-decoration: none;">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script src="{% static 'js/submit.js' %}"></script>

{% endblock %}