{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>

            {% if msg != "" %}
                <p class="error-display">{{msg}}</p>
                {% endif %}
            <form method='post' class="login100-form validate-form" autocomplete="off">
                {% csrf_token %}
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="email" placeholder="Enter email" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Enter password" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}