<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!--===============================================================================================-->
    {% block css %}
    {% endblock %}
    <title>{% block title %} {{title}} {% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0px;">
                    <div class="row">
                        <div class="d-flex flex-row justify-content-between align-items-center card cookie p-3">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://i.imgur.com/Tl8ZBUe.png" width="40">
                                <div class="ml-2 mr-2"><span>We
                                        use
                                        third party
                                        cookies
                                        to personalize
                                        content,
                                        ads and&nbsp;
                                        analyze site
                                        traffic.<br></span>
                                </div>
                            </div>
                            <div><button type="button" class="btn btn-secondary" id="accept-cookies"
                                    data-dismiss="modal">Accept</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/cookies.js' %}"></script>
    {% block js %}
    {% endblock %}

</body>

</html>